// libraries
@import "open-color.scss";
@import "normalize/_normalize.scss";

// Vars
@import "_variables.scss";

// Page
@import "_page.scss";

// Index
@import "_index.scss";

// Content
@import "_content.scss";

// Normalize
@include normalize();


html {
  background: linear-gradient(45deg, $oc-green-0, $oc-orange-0);
}

body {
  text-align: center;
}

h1 {
  font-size: 10vw;
  color: $oc-gray-7;
}

h2 {
  font-size: 8vw;
  color: $oc-gray-7;
}

h3 {
  font-size: 6vw;
  color: $oc-gray-7;
}

h4 {
  font-size: 4vw;
  color: $oc-gray-7;
}

h5 {
  font-size: 3vw;
  color: $oc-gray-7;
}

p {
  font-size: 2vw;
  color: $oc-gray-7;
}


.matrix-button {
  text-align: center;
  width: 100%;
}

svg {
  background: $oc-orange-1;
  width: 25vw;
  height: 100%;
  fill: $oc-gray-7;
}
