{% extends "base.html" %}

{% block body %}
  <div class="index-grid">

    <div class="index-cell-header">
      <h2>{{ section.title }}</h2>
    </div>

    <div class="index-cell-main">

      <div class="content-grid">
        {{ section.content | safe }}
      </div>
    </div>

  </div>
{% endblock body %}
